<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Change Password</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Julius+Sans+One">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz">
<link rel="stylesheet" th:href="@{/css/form-styles.min.css}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/lumen/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Bitter:400,700">
<link rel="stylesheet" th:href="@{/css/admin.min.css}">
<link rel="stylesheet" th:href="@{/css/styles.min.css}">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

</head>

<body style="background-color: #f3f3f3;">
<div th:replace="layouts/header :: header">&nbsp;</div>
	<div class="row register-form">
		<div class="col-md-6 offset-md-3">
			<form class="custom-form"
				style="background-color: #f3f3f3; width: auto;"
				th:action="@{/user/changepassword}" th:method="post">
				<h1
					style="font-family: 'Julius Sans One', sans-serif; font-size: 33px;">CHANGE
					PASSWORD</h1>
				<div class="form-row form-group">
					<div class="col-sm-4 label-column">
						<label class="col-form-label" for="password"
							style="padding-right: 25%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px;">Current
							Password </label>
					</div>
					<div class="col-sm-6 input-column">
						<input class="form-control" type="password"
							name="current_password">
					</div>
				</div>
				<div class="form-row form-group">
					<div class="col-sm-4 label-column">
						<label class="col-form-label" for="password"
							style="padding-right: 45%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px;">Password
						</label>
					</div>
					<div class="col-sm-6 input-column">
						<input class="form-control" type="password" name="password">
					</div>
				</div>
				<div class="form-row form-group">
					<div class="col-sm-4 label-column">
						<label class="col-form-label" for="confirm_password"
							style="font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px; padding-right: 25%">Confirm
							Password </label>
					</div>
					<div class="col-sm-6 input-column">
						<input class="form-control" type="password"
							name="confirm_password">
					</div>
				</div>
		
				<div class="form-row form-group">
					<div class="col-sm-4 label-column" style="height: 90px;"></div>
					<div class="col-sm-4 input-column" style="height: 90px;">
						<button
							class="btn btn-light active submit-button cancel-btn-hover"
							type="submit"
							formaction="/user"
							formmethod="post"
							style="margin-right: 20px; margin-left: 1px; background-color: #d9d9d9; font-family: &amp; amp; amp; amp; amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; amp; amp; amp; amp; #39; , sans-serif; font-size: 1.5em; color: rgb(18, 14, 14); width: 50%;">Cancel</button>
					</div>
					<div class="col-sm-4 input-column" style="height: 90px;">
						<button id=""
							class="btn btn-light submit-button button-hover "
							type="submit"
							style="margin-left: 10px; background-color: #b6d7a8; color: rgb(8, 8, 8); font-family: &amp; amp; amp; amp; amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; amp; amp; amp; amp; #39; , sans-serif; font-size: 1.5em; width: 70%;">Submit
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>	
	<div th:replace="layouts/footer :: footer-dark">&nbsp;</div>


</body>

</html>