<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SEARCH MEMBER</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/lumen/bootstrap.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
	integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Bitter:400,700">
<link rel="stylesheet" th:href="@{/css/admin.min.css}">
<link rel="stylesheet" th:href="@{/css/styles.min.css}">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />


<link rel="stylesheet" th:href="@{/css/form-styles.min.css}">
<style type="text/css">
.resultsTable {
	/* 	border-radius: 25px !important; */
	border-width: 2px !important;
	border-style: solid !important;
	border-style: outset;
	border-color: rgba(0, 128, 255, 0.9) !important;
	width: 90%; /*Tested and working as expected: */
	padding-top: 1%;
	margin: 0px auto;
	float: none;
}

.btn-info : hover {
	
}
</style>
</head>

<body style="background-color: #f3f3f3;">
	<div th:replace="layouts/admin_header :: header">&nbsp;</div>
	<div class="row register-form">
		<div class="col-md-10 offset-md-1">
			<form class="custom-form"
				style="background-color: #f3f3f3; width: auto;"
				th:action="@{/user/searchmember}" method="post">
				<h1
					style="font-family: 'Julius Sans One', sans-serif; font-size: 33px;">SEARCH
					MEMBER</h1>
				<div class="offset-sm-2">
					<div class="form-row form-group">


						<div class="col-sm-2  offset-sm-2 label-column">
							<label class="col-form-label" for="membernumber"
								style="padding-right: 25%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px;">Member
								Number </label>
						</div>
						<div class="col-sm-3 input-column">
							<input class="form-control" type="text" name="membernumber">
						</div>
						<div class="col-sm-2 input-column" style="height: 20%;">
							<button class="btn btn-success" type="submit"
								style="margin-left: 10px; font-family: &amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; , sans-serif; font-size: 1.5em; width: 50%;">Search
							</button>
						</div>

					</div>
					<div class="form-row form-group">


						<div class="col-sm-2  offset-sm-2 label-column">
							<label class="col-form-label" for="membername"
								style="padding-right: 25%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px;">Member
								Name </label>
						</div>
						<div class="col-sm-3 input-column">
							<input class="form-control" type="text" name="membername">
						</div>
						<div class="col-sm-2 input-column" style="height: 20%;">
							<button class="btn btn-success" type="submit"
								style="margin-left: 10px; font-family: &amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; , sans-serif; font-size: 1.5em; width: 50%;">Search
							</button>
						</div>


					</div>
<!-- 					<div class="col-md-12 input-column" style="height: 90px;"> -->
<!-- 						<button -->
<!-- 							class="btn btn-light active submit-button cancel-btn-hover" -->
<!-- 							type="submit" -->
<!-- 							style="margin-right: 20px; margin-left: 1px; background-color: #d9d9d9; font-family: &amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; , sans-serif; font-size: 1.5em; color: rgb(18, 14, 14); width: 100%;" -->
<!-- 							formaction="/user" formmethod="post">Home</button> -->
<!-- 					</div> -->


					<!-- 					<div class="offset-sm-2"> -->
					<!-- 						<div class="form-row form-group"> -->
					<!-- 							<div class="col-sm-4 input-column" style="height: 90px;"> -->
					<!-- 								<button -->
					<!-- 									class="btn btn-light active submit-button cancel-btn-hover" -->
					<!-- 									type="reset" -->
					<!-- 									style="margin-right: 20px; margin-left: 1px; background-color: #d9d9d9; font-family: &amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; , sans-serif; font-size: 1.5em; color: rgb(18, 14, 14); width: 70%;">Cancel</button> -->
					<!-- 							</div> -->
					<!-- 							<div class="col-sm-4 input-column" style="height: 90px;"> -->
					<!-- 								<button class="btn btn-light submit-button button-hover" -->
					<!-- 									type="submit" -->
					<!-- 									style="margin-left: 10px; background-color: #b6d7a8; color: rgb(8, 8, 8); font-family: &amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; , sans-serif; font-size: 1.5em; width: 70%;">Search -->
					<!-- 								</button> -->
					<!-- 							</div> -->
					<!-- 						</div> -->
					<!-- 					</div> -->
					<!-- 				</div> -->
				</div>
				<br /> <br />
				<div class="table-responsive col-md-10 offset-md-1">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Title</th>
								<th scope="col">First Name</th>
								<th scope="col">Last Name</th>
								<th scope="col">Middle Name</th>
								<th scope="col">Email Address</th>
								<th scope="col">Phone Number</th>
								<th scope="col"></th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="member : ${memberlist}">
								<th scope="row" th:text="${member.userNumber}"></th>
								<td th:text="${member.title}"></td>
								<td th:text="${member.firstName}"></td>
								<td th:text="${member.lastName}"></td>
								<td th:text="${member.middleName}"></td>
								<td th:text="${member.emailAddress}"></td>
								<td th:text="${member.phoneNumber}"></td>
								<td><a
									th:href="@{'/user/managemember/' + ${member.userNumber}}"
									class="btn btn-primary">Update</a></td>
								<td><a
									th:href="@{'/user/expiremember/' + ${member.userNumber}}"
									class="btn btn-danger">Expire</a></td>
							</tr>

						</tbody>
					</table>
				</div>
			</form>
		</div>

	</div>
	<div th:replace="layouts/footer :: footer-dark">&nbsp;</div>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>