<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Signup</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Julius+Sans+One">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz">


<link rel="stylesheet" th:href="@{/css/form-styles.min.css}">

</head>

<body style="background-color: #f3f3f3;">
	<div class="row register-form">
		<div class="col-md-6 offset-md-3">
			<form th:action="@{/user/adduser}" th:method="get" class="custom-form"
				style="background-color: #f3f3f3; width: auto;"
				th:object="${user}">
				<h1
					style="font-family: 'Julius Sans One', sans-serif; font-size: 33px;">SIGNUP
				</h1>
				<div class="form-row form-group">
					<div class="col-sm-4 label-column">
						<label class="col-form-label" for="name"
							style="padding-right: 54%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px;">Title
						</label>
					</div>					
					<div class="col-sm-6 input-column">
						<div class="dropdown">

							<select class="custom-select" id="title" th:field="*{title}">
								<option th:each="tit : ${title}" th:value="${tit}" th:text="${tit}">Choose Title...</option>								
							</select>
						</div>
					</div>
				</div>
				<div class="form-row form-group">
					<div class="col-sm-4 label-column">
						<label class="col-form-label" for="name"
							style="padding-right: 54%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px;">First
							Name </label>
					</div>
					<div class="col-sm-6 input-column">
						<input class="form-control" type="text" name="name" required="required"
							th:field="*{firstName}">
						<!-- 							th:value="${user.firstName}" -->
					</div>
				</div>
				<div class="form-row form-group">
					<div class="col-sm-4 label-column">
						<label class="col-form-label" for="name"
							style="padding-right: 54%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px;">Last
							Name </label>
					</div>
					<div class="col-sm-6 input-column">
						<input class="form-control" type="text" name="name" required="required"
							th:field="*{lastName}">
						<!-- 							th:value="${user.lastName}" -->
					</div>
				</div>
				<div class="form-row form-group">
					<div class="col-sm-4 label-column">
						<label class="col-form-label" for="name"
							style="padding-right: 54%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px;">Middle
							Name </label>
					</div>
					<div class="col-sm-6 input-column">
						<input class="form-control" type="text" name="name" required="required"
							th:field="*{middleName}">
						<!-- 							th:value="${user.middleName}" -->
					</div>
				</div>
				<div class="form-row form-group">
					<div class="col-sm-4 label-column">
						<label class="col-form-label" for="email"
							style="padding-right: 54%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px;">Email
						</label>
					</div>
					<div class="col-sm-6 input-column">
						<input class="form-control" type="email" name="email"
							required="required" placeholder="example@domain.com"
							th:field="*{emailAddress}">
					</div>
				</div>
				<div class="form-row form-group">
					<div class="col-sm-4 label-column">
						<label class="col-form-label" for="phone"
							style="padding-right: 54%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px;">Phone
						</label>
					</div>
					<div class="col-sm-6 input-column">
						<input class="form-control" type="text" name="phone"
							required="required" 
							th:field="*{phoneNumber}">
					</div>
				</div>
				<div class="form-row form-group">
					<div class="col-sm-4 label-column">
						<label class="col-form-label" for="password"
							style="padding-right: 54%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px;">Password
						</label>
					</div>
					<div class="col-sm-6 input-column">
						<input class="form-control" type="password" name="password" th:field="*{password}"
							required="required">
					</div>
				</div>
				<div class="form-row form-group">
					<div class="col-sm-4 label-column">
						<label class="col-form-label" for="pawssword-repeat"
							style="font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px; padding-right: 54%;;">Repeat
							Password </label>
					</div>
					<div class="col-sm-6 input-column">
						<input class="form-control" type="password" name="password-repeat"
							required="required">
					</div>
				</div>

				<div class="form-row form-group">
					<div class="col-sm-4 label-column" style="height: 90px;"></div>
					<div class="col-sm-4 input-column" style="height: 90px;">
						<button
							class="btn btn-light active submit-button cancel-btn-hover"
							type="reset"
							style="margin-right: 20px; margin-left: 1px; background-color: #d9d9d9; font-family: &amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; #39; , sans-serif; font-size: 1.5em; color: rgb(18, 14, 14); width: 50%;">Cancel</button>
					</div>
					<div class="col-sm-4 input-column" style="height: 90px;">
						<button class="btn btn-light submit-button button-hover"
							type="submit"
							style="margin-left: 10px; background-color: #b6d7a8; color: rgb(8, 8, 8); font-family: &amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; #39; , sans-serif; font-size: 1.5em; width: 70%;">Submit
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>