<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/lumen/bootstrap.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
	<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Bitter:400,700">
<link rel="stylesheet" th:href="@{/css/member.min.css}">
<link rel="stylesheet" th:href="@{/css/styles.min.css}">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

</head>

<body>
	<div>
		<div class="header-dark"
			style="background-image: url(images/cover-image.png); height: 593px; background-color: rgb(49, 55, 58);">
			<nav
				class="navbar navbar-dark navbar-expand-md navigation-clean-search">
				<div class="container">			
					<button class="navbar-toggler" data-toggle="collapse"
						data-target="#navcol-1">
						<span class="sr-only">Toggle navigation</span><span
							class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navcol-1">
						<ul class="nav navbar-nav">							
							<li class="dropdown"><a
								class=" nav-link "
								data-toggle="dropdown" aria-expanded="false" href="#" style="color: #FFFFFF;"><i class="fas fa-3x fa-bars"></i>
							</a>
								 <div class="dropdown-menu" role="menu">
									<a class="dropdown-item" role="presentation" href="/booking/search_facility">Make New Booking</a>
									<a class="dropdown-item" role="presentation" href="/booking/manage_booking">Manage Booking</a>
								</div>								
								</li>
						</ul>
						<a class="navbar-brand" style="font-size:40px; padding-left: 30%;" href="#">LIFESTYLE CLUB</a>
						<form class="form-inline mr-auto" target="_self">
							<div class="form-group">
							
<!-- 								<label for="search-field"><i class="fa fa-search"></i></label><input -->
<!-- 									class="form-control search-field" type="search" name="search" -->
<!-- 									id="search-field"> -->
							</div>
						</form>
						<ul class="nav navbar-nav">							
							<li class="dropdown"><a
								class=" nav-link "
								data-toggle="dropdown" aria-expanded="false" href="#" style="color: #FFFFFF;font-family: 'Julius Sans One', sans-serif;"><i class="fa fa-3x fa-user-circle"></i>
							</a>
								 <div class="dropdown-menu" role="menu"></span>
								 <a class="dropdown-item" role="presentation" href="#"><span style="font-size:18px;" th:text="${loginUserName}"></span></a>
									<a class="dropdown-item" role="presentation" href="/user/profile">View Profile</a>
									<a class="dropdown-item" role="presentation" href="/user/changepassword">Change Password</a>
									<a class="dropdown-item" role="presentation" href="/logout">Logout</a>								
								</div>								
								</li>
						</ul>						
					</div>
				</div>
			</nav>
			<div class="container hero">
				<div class="row">
					<div class="col-md-8 offset-md-2">
<!-- 						<h1 class="text-center" -->
<!-- 							style="font-family: 'Julius Sans One', sans-serif; font-size: 59px; padding-top: 93px;"> -->
<!-- 							Lifestyle Club<br> -->
<!-- 						</h1> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div></div>
	<div></div>
	<div class="features-boxed" style="padding-top: 19px;">
		<div class="container">
			<div class="intro"></div>
			<div class="row">
				<div class="col-md-4">
					<h1
						style="font-family: 'Julius Sans One', sans-serif; font-size: 27px; color: #9999b3;">
						<strong>BOOK A FACILITY</strong>
					</h1>
				</div>
			</div>
			<div class="row features" style="margin-top: -56px;">
				<div class="col-sm-6 col-md-4 item">
					<div class="box" style="padding-bottom: 4px;">
						<div class="image-box">
							<img src="images/meeting-room-cropped.png"
								class="box-image img-responsive">
						</div>
						<div class="info-box">
							<a href="#" class="learn-more"
								style="font-family: 'Julius Sans One', sans-serif; font-size: 20px;"><strong>Conference
									Rooms</strong></a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 item">
					<div class="box" style="padding-bottom: 4px;">
						<div class="image-box">
							<img src="images/function-room-cropped.png"
								class="box-image img-responsive">
						</div>
						<div class="info-box">
							<a href="#" class="learn-more"
								style="font-size: 20px; font-family: 'Julius Sans One', sans-serif;"><strong>Function
									Rooms</strong></a>
						</div>
						
					</div>
				</div>
				<div class="col-sm-6 col-md-4 item">
					<div class="box" style="padding-bottom: 4px;">
						<div class="image-box">
							<img src="images/conference-room-cropped.png"
								class="box-image img-responsive">
						</div>
						<div class="info-box">
							<a href="#" class="learn-more"
								style="font-size: 20px; font-family: 'Julius Sans One', sans-serif;"><strong>Meeting
									Rooms</strong></a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 item">
					<div class="box" style="padding-bottom: 4px;">
						<div class="image-box">
							<img src="images/tennis-court-cropped.png"
								class="box-image img-responsive">
						</div>
						<div class="info-box">
							<a href="#" class="learn-more"
								style="font-size: 20px; font-family: 'Julius Sans One', sans-serif;"><strong>Tennis
									Courts</strong></a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 item">
					<div class="box" style="padding-bottom: 4px;">
						<div class="image-box">
							<img src="images/badminton-cropped.png"
								class="box-image img-responsive">
						</div>
						<div class="info-box">
							<a href="#" class="learn-more"
								style="font-family: 'Julius Sans One', sans-serif; font-size: 20px;"><strong>Badminton Courts</strong></a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 item">
					<div class="box" style="padding-bottom: 4px;">
						<div class="image-box">
							<img src="images/squash-court-cropped.png"
								class="box-image img-responsive">
						</div>
						<div class="info-box">
							<a href="#" class="learn-more"
								style="font-size: 20px; font-family: 'Julius Sans One', sans-serif;"><strong>Squash
									Courts</strong></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="layouts/footer.html :: footer-dark">&nbsp;</div>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>