<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/master}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/lumen/bootstrap.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Bitter:400,700">
<link rel="stylesheet" th:href="@{/css/styles.min.css}">
</head>
<body>
	<!-- 	<div th:replace="layouts/header :: header">&nbsp;</div> -->
	<!-- 	<div class="container"> -->
	<!-- 		<h1>Home</h1> -->
	<!-- 	</div> -->
	<!-- 	<div th:replace="layouts/footer :: footer-dark">&nbsp;</div> -->
	<th:block layout:fragment="title"></th:block>
	<th:block layout:fragment="contents">
		<div class="features-boxed">
			<div class="container">
				<div class="intro">
					<h2 class="text-center">Features</h2>
					<p class="text-center">Nunc luctus in metus eget fringilla.
						Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut
						laoreet vitae.</p>
				</div>
				<div class="row justify-content-center features">
					<div class="col-sm-6 col-md-5 col-lg-4 item">
						<div class="box">
							<i class="fa fa-map-marker icon"></i>
							<h3 class="name">Works everywhere</h3>
							<p class="description">Aenean tortor est, vulputate quis leo
								in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
							<a href="#" class="learn-more">Learn more »</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-5 col-lg-4 item">
						<div class="box">
							<i class="fa fa-clock-o icon"></i>
							<h3 class="name">Always available</h3>
							<p class="description">Aenean tortor est, vulputate quis leo
								in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
							<a href="#" class="learn-more">Learn more »</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-5 col-lg-4 item">
						<div class="box">
							<i class="fa fa-list-alt icon"></i>
							<h3 class="name">Customizable</h3>
							<p class="description">Aenean tortor est, vulputate quis leo
								in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
							<a href="#" class="learn-more">Learn more »</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-5 col-lg-4 item">
						<div class="box">
							<i class="fa fa-leaf icon"></i>
							<h3 class="name">Organic</h3>
							<p class="description">Aenean tortor est, vulputate quis leo
								in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
							<a href="#" class="learn-more">Learn more »</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-5 col-lg-4 item">
						<div class="box">
							<i class="fa fa-plane icon"></i>
							<h3 class="name">Fast</h3>
							<p class="description">Aenean tortor est, vulputate quis leo
								in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
							<a href="#" class="learn-more">Learn more »</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-5 col-lg-4 item">
						<div class="box">
							<i class="fa fa-phone icon"></i>
							<h3 class="name">Mobile-first</h3>
							<p class="description">Aenean tortor est, vulputate quis leo
								in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
							<a href="#" class="learn-more">Learn more »</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>