<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Change Password</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Julius+Sans+One">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz">
 <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript"
	src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<link
	href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/form-styles.min.css}">

</head>

<body style="background-color: #f3f3f3;">
	<div class="row register-form">
		<div class="col-md-6 offset-md-3">
			<form class="custom-form"
				style="background-color: #f3f3f3; width: auto;"
				th:action="@{/user/changepassword}" th:method="post">
				<h1
					style="font-family: 'Julius Sans One', sans-serif; font-size: 33px;">CHANGE
					PASSWORD</h1>
				<div class="form-row form-group">
					<div class="col-sm-4 label-column">
						<label class="col-form-label" for="password"
							style="padding-right: 25%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px;">Current
							Password </label>
					</div>
					<div class="col-sm-6 input-column">
						<input class="form-control" type="password"
							name="current_password" required="required">
					</div>
				</div>
				<div class="form-row form-group">
					<div class="col-sm-4 label-column">
						<label class="col-form-label" for="password"
							style="padding-right: 45%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px;">Password
						</label>
					</div>
					<div class="col-sm-6 input-column">
						<input class="form-control" type="password" name="password"
							required="required">
					</div>
				</div>
				<div class="form-row form-group">
					<div class="col-sm-4 label-column">
						<label class="col-form-label" for="confirm_password"
							style="font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px; padding-right: 25%">Confirm
							Password </label>
					</div>
					<div class="col-sm-6 input-column">
						<input class="form-control" type="password"
							name="confirm_password" required="required">
					</div>
				</div>
				<!-- 				<div class="form-row form-group"> -->
				<!-- 					<div class="col-sm-4 label-column"> -->
				<!-- 						<label class="col-form-label" for="dropdown-input-field" -->
				<!-- 							style="padding-right: 55px; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px;">Dropdown -->
				<!-- 						</label> -->
				<!-- 					</div> -->
				<!-- 					<div class="col-sm-4 input-column"> -->
				<!-- 						<div class="dropdown"> -->
				<!-- 							<button class="btn btn-light dropdown-toggle" -->
				<!-- 								data-toggle="dropdown" aria-expanded="false" type="button" -->
				<!-- 								style="width: 215.656px; height: 42px;">Dropdown</button> -->
				<!-- 							<div class="dropdown-menu" role="menu"> -->
				<!-- 								<a class="dropdown-item" role="presentation" href="#">First -->
				<!-- 									Item</a><a class="dropdown-item" role="presentation" href="#">Second -->
				<!-- 									Item</a><a class="dropdown-item" role="presentation" href="#">Third -->
				<!-- 									Item</a> -->
				<!-- 							</div> -->
				<!-- 						</div> -->
				<!-- 					</div> -->
				<!-- 				</div> -->
				<div class="form-row form-group">
					<div class="col-sm-4 label-column" style="height: 90px;"></div>
					<div class="col-sm-4 input-column" style="height: 90px;">
						<button
							class="btn btn-light active submit-button cancel-btn-hover"
							type="reset"
							style="margin-right: 20px; margin-left: 1px; background-color: #d9d9d9; font-family: &amp; amp; amp; amp; amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; amp; amp; amp; amp; #39; , sans-serif; font-size: 1.5em; color: rgb(18, 14, 14); width: 50%;">Cancel</button>
					</div>
					<div class="col-sm-4 input-column" style="height: 90px;">
						<button id=""
							class="btn btn-light submit-button button-hover submitbtn"
							type="submit"
							style="margin-left: 10px; background-color: #b6d7a8; color: rgb(8, 8, 8); font-family: &amp; amp; amp; amp; amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; amp; amp; amp; amp; #39; , sans-serif; font-size: 1.5em; width: 70%;">Submit
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	


	<script th:inline="javascript">
		$('.submitbtn').click(function() {
			var data =[[${type}]]
			if (data = 'error'){toastr.error("Unable to change password!", "Error!", {timeOut:2000});}
			
		});
	</script>
	

	<!-- 	<script -->
	<!-- 		src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
	<!-- 	<script -->
	<!-- 		src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script> -->

	<!-- 	<script -->
	<!-- 		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>