<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ADD FACILITY</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Julius+Sans+One">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz">


<link rel="stylesheet" th:href="@{/css/form-styles.min.css}">
<style type="text/css">
.resultsTable {
	/* 	border-radius: 25px !important; */
	border-width: 2px !important;
	border-style: solid !important;
	border-style: outset;
	border-color: rgba(0, 128, 255, 0.9) !important;
	width: 90%; /*Tested and working as expected: */
	padding-top: 1%;
	margin: 0px auto;
	float: none;
}
</style>
</head>

<body style="background-color: #f3f3f3;">
	<div class="row register-form">
		<div class="col-md-10 offset-md-1">
			<form class="custom-form"
				style="background-color: #f3f3f3; width: auto;">

				<h1
					style="font-family: 'Julius Sans One', sans-serif; font-size: 33px;">BOOK
					FACILITY</h1>
				<div class="offset-sm-2">

					<div class="form-row form-group">
						<div class="col-sm-3  offset-sm-1 label-column">
							<label class="col-form-label" for="facilitytype"
								style="padding-right: 28%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px;">Desired Booking
								Date </label>
						</div>
						<div class="col-sm-3 input-column">
							<input type="date" class="form-control" id="date"
								placeholder="Select value">
						</div>
					</div>
					<div class="form-row form-group">
						<div class="col-sm-3  offset-sm-1 label-column">
							<label class="col-form-label" for="facilitytype"
								style="padding-right: 28%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px;">Selected Facility </label>
						</div>
						<div class="col-sm-3 input-column">
							<div class="dropdown">

								<select class="custom-select" id="facilitytype">
									<option selected>Choose...</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</div>
						</div>
					</div>				

					<div class="offset-sm-2">
						<div class="form-row form-group">
							<div class="col-sm-4 input-column" style="height: 90px;">
								<button
									class="btn btn-light active submit-button cancel-btn-hover"
									type="reset"
									style="margin-right: 20px; margin-left: 1px; background-color: #d9d9d9; font-family: &amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; , sans-serif; font-size: 1.5em; color: rgb(18, 14, 14); width: 50%;">Cancel</button>
							</div>
							<div class="col-sm-4 input-column" style="height: 90px;">
								<button class="btn btn-light submit-button button-hover"
									type="submit"
									style="margin-left: 10px; background-color: #b6d7a8; color: rgb(8, 8, 8); font-family: &amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; , sans-serif; font-size: 1.5em; width: 70%;">Check
								</button>
							</div>
						</div>
					</div>
				</div>
			</form>

			<div class="table-responsive col-md-10 offset-md-1">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Type</th>
							<th scope="col">Name</th>
							<th scope="col">Capacity</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">F01</th>
							<td>Meeting Room</td>
							<td>Opal Room</td>
							<td>4</td>
							<td><button type="button" class="btn btn-success">Book</button></td>
						</tr>
						<tr>
							<th scope="row">F02</th>
							<td>Meeting Room</td>
							<td>Opal Room</td>
							<td>4</td>
							<td><button type="button" class="btn btn-success">Book</button></td>
						</tr>
						<tr>
							<th scope="row">F03</th>
							<td>Meeting Room</td>
							<td>Opal Room</td>
							<td>4</td>
							<td><button type="button" class="btn btn-success">Book</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>