<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Facility Booking</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Julius+Sans+One">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz">
<link rel="stylesheet" th:href="@{/css/form-styles.min.css}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

<style type="text/css">
	.resultsTable {
		border-width: 2px !important;
		border-style: solid !important;
		border-style: outset;
		border-color: rgba(0, 128, 255, 0.9) !important;
		width: 90%;
		padding-top: 1%;
		margin: 0px auto;
		float: none;
	}
</style>
</head>

<body style="background-color: #f3f3f3;">
	<div class="row register-form">
		<div class="col-md-10 offset-md-1">
		<form class="custom-form" style="background-color: #f3f3f3; width: auto;"
			th:action="@{/booking/bookfacility}" th:method="post" th:object="${booking}">
				<h1 style="font-family: 'Julius Sans One', sans-serif; font-size: 33px;">
					Book Facility
				</h1>
				<div class="offset-md-3">
				<div class="form-row form-group">
					<div class="col-sm-2 label-column">
						<label class="col-form-label" for="facilityList"
							style="line-height:35px; padding-right: 10%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px; height: 50px;">
							Facility Type
						</label>
					</div>
					<div class="col-sm-3 input-column">
						<div class="dropdown">
						<select name="facilityList" class="custom-select" id="facilityList" style="height: 50px;">
							<option th:each="f : ${fShortList}" th:value="${f.facilityNumber}" th:text="${f.facilityName}" ${f == fSelected ? 'selected':''}>Choose Facility Type...</option>
						</select>
						</div>
					</div>
				</div>
				<div class="form-row form-group">
					<div class="col-sm-2 label-column">
						<label class="col-form-label" for="targetDate" th:value="${tDate}"
							style="line-height:35px; padding-right: 10%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px; height: 50px;">
							Target Date
						</label>
					</div>
					<div class="col-sm-3 input-column">
						<input type="date" class="form-control" id="date" placeholder="Select value" name="targetDate" style="height: 50px;">
					</div>
					<div class="col-sm-3 input-column">
						<button 
							class="btn btn-primary submit-button button-hover"
							type="submit"
							style="margin: 2px 0px 0px 20px; height: 45px; padding: 0px; min-width: 100px; background-color: #b6d7a8; color: rgb(8, 8, 8); font-family: &amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; , sans-serif; font-size: 1.5em; width: 100%;"
							formaction="/booking/search-slots"
							formmethod="post">
							Check
						</button>
					</div>
				</div>
				<div class="form-row form-group">
					<div class="col-sm-2 label-column">
						<label class="col-form-label" for="targetSlot"
							style="line-height:35px; padding-right: 10%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px; height: 50px;">
							Target Slot
						</label>
					</div>
					<div class="col-sm-3 input-column">
						<div class="dropdown">
						<select name="targetSlot" class="custom-select" id="targetSlot" style="height: 50px;">
							<option th:each="s : ${slotList}" th:value="${s}" th:text="${s}">Choose ...</option>
						</select>
						</div>
					</div>
					<div class="col-sm-3 input-column">
						<button 
							class="btn btn-light submit-button button-hover"
							type="submit"
							style="margin: 2px 0px 0px 20px; height: 45px; padding: 0px; min-width: 100px; background-color: #b6d7a8; color: rgb(8, 8, 8); font-family: &amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; , sans-serif; font-size: 1.5em; width: 100%;"
							formaction="/booking/search-facility-by-type"
							formmethod="post">
							Book
						</button>
					</div>
				</div>
				</div>
			</form>
		</div>
	</div>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>