<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BOOK FACILITY</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Julius+Sans+One">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz">


<link rel="stylesheet" th:href="@{/css/form-styles.min.css}">
<style type="text/css">
.resultsTable {
	/* 	border-radius: 25px !important; */
	border-width: 2px !important;
	border-style: solid !important;
	border-style: outset;
	border-color: rgba(0, 128, 255, 0.9) !important;
	width: 90%; /*Tested and working as expected: */
	padding-top: 1%;
	margin: 0px auto;
	float: none;
}
</style>
</head>

<body style="background-color: #f3f3f3;">
	<div class="row register-form">
		<div class="col-md-10 offset-md-1">
		<form th:action="@{/booking/bookfacility}" th:method="post"
				th:object="${booking}" class="custom-form" style="background-color: #f3f3f3; 
				width: auto;">

				<h1
					style="font-family: 'Julius Sans One', sans-serif; font-size: 33px;">BOOK
					FACILITY</h1>
				<div class="offset-sm-2">

					<div class="form-row form-group">
						<div class="col-sm-3  offset-sm-1 label-column">
							<label class="col-form-label" for="facilitytype"
								style="padding-right: 28%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px;">Desired
								Booking Date </label>
						</div>
						<div class="col-sm-3 input-column">
							<input type="date" class="form-control" id="date"
								placeholder="Select value" th:field="*{slotDate}">
						</div>
					</div>
					<div class="form-row form-group">
						<div class="col-sm-3  offset-sm-1 label-column">
							<label class="col-form-label" for="facilitytype"
								style="padding-right: 28%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px;">Selected
								Facility </label>
						</div>
						<div class="col-sm-3 input-column">
							<div class="dropdown">

							<select class="custom-select" id="facilityname"
								th:field="*{facilityNumber}">
								<option th:each="facname : ${facilityname}"
									th:value="${facname.facilityNumber}" th:text="${facname.facilityName}">Choose
									Title...</option>
							</select>
							</div>
							<button
								class="btn btn-light active submit-button cancel-btn-hover"
								type="button"
								style="margin-right: 20px; margin-left: 1px; background-color: #d9d9d9; font-family: &amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; , sans-serif; font-size: 1.5em; color: rgb(18, 14, 14); width: 100%;">Check
							</button>
						</div>
					</div>
					<div class="form-row form-group">
						<div class="col-sm-3  offset-sm-1 label-column">
							<label class="col-form-label" for="starttime"
								style="padding-right: 28%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px;">Desired
								Booking Slot</label>
						</div>
						<div class="col-sm-3 input-column">
							<div class="dropdown">

								<select class="custom-select" id="timeslot">
								<!-- th:field="*{slotTimeStart}" -->
								<option th:each="slstartt : ${bookingslot}" th:value="${slstartt}"
									th:text="${slstartt}">Choose Title...</option>
							</select>
							</div>
							<button class="btn btn-light submit-button button-hover"
								type="submit"
								style="margin-right: 20px; margin-left: 1px; background-color: #b6d7a8; color: rgb(8, 8, 8); font-family: &amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; , sans-serif; font-size: 1.5em; width: 100%;">Book
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>