<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Booking Management</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Julius+Sans+One">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz">
<link rel="stylesheet" th:href="@{/css/form-styles.min.css}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

<style type="text/css">
	.resultsTable {
		border-width: 2px !important;
		border-style: solid !important;
		border-style: outset;
		border-color: rgba(0, 128, 255, 0.9) !important;
		width: 90%;
		padding-top: 1%;
		margin: 0px auto;
		float: none;
	}
</style>
</head>

<body style="background-color: #f3f3f3;">
	<div class="row register-form">
		<div class="col-md-10 offset-sm-1">
			<form class="custom-form" style="background-color: #f3f3f3; width: auto;">
				<h1 style="font-family: 'Julius Sans One', sans-serif; font-size: 33px;">
					Manage Booking
				</h1>
				<div class="offset-md-3">
				<div class="form-row form-group">
					<div class="col-sm-2 label-column">
						<label class="col-form-label" for="userNumber"
							style="line-height:35px; padding-right: 10%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px; height: 50px;">
							User Number
						</label>
					</div>
					<div class="col-sm-3 input-column">
						<div th:if="${acctType} == Member"><input class="form-control" type="text" name="userNumber" style="height: 50px;" th:value="${uNum}" disabled></div>
						<div th:if="${acctType} == Admin"><input class="form-control" type="text" name="userNumber" style="height: 50px;" th:value="${uNum}"></div>
					</div>
					<div class="col-sm-3 input-column">
						<button 
							class="btn btn-light submit-button button-hover"
							type="submit"
							style="margin: 2px 0px 0px 20px; height: 45px; padding: 0px; min-width: 100px; background-color: #b6d7a8; color: rgb(8, 8, 8); font-family: &amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; , sans-serif; font-size: 1.5em; width: 100%;"
							formaction="/booking/search-booking-all"
							formmethod="post">
							Search All
						</button>
					</div>
				</div>
				<div class="form-row form-group">
					<div class="col-sm-2 label-column">
						<label class="col-form-label" for="startDate"
							style="line-height:35px; padding-right: 10%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px; height: 50px;">
							Start Date
						</label>
					</div>
					<div class="col-sm-3 input-column">
						<input class="form-control" type="text" name="startDate" style="height: 50px;" placeholder="yyyy-MM-dd">
					</div>
					<div class="col-sm-3 input-column">
					</div>
				</div>
				<div class="form-row form-group">
					<div class="col-sm-2 label-column">
						<label class="col-form-label" for="endDate"
							style="line-height:35px; padding-right: 10%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px; height: 50px;">
							End Date
						</label>
					</div>
					<div class="col-sm-3 input-column">
						<input class="form-control" type="text" name="endDate" style="height: 50px;" placeholder="yyyy-MM-dd">
					</div>
					<div class="col-sm-3 input-column">
						<button 
							class="btn btn-light submit-button button-hover"
							type="submit"
							style="margin: 2px 0px 0px 20px; height: 45px; padding: 0px; min-width: 100px; background-color: #b6d7a8; color: rgb(8, 8, 8); font-family: &amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; , sans-serif; font-size: 1.5em; width: 100%;"
							formaction="/booking/search-booking-by-name-and-date"
							formmethod="post">
							Search Within Dates
						</button>
					</div>
				</div>
				</div>
			</form>
			
			<div class="table-responsive col-md-10 offset-md-1">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Booking Number</th>
							<th>Facility Number</th>
							<th>User Number</th>
							<th>Booked On</th>
							<th>Booking Date</th>
							<th>Start Time</th>
							<th>End Time</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="b : ${bList}">								
							<th th:text="${b.bookingNumber}"></th>
							<td th:text="${b.facilityNumber}"></td>
							<td th:text="${b.userNumber}"></td>
							<td th:text="${b.transDateTime}"></td>	
							<td th:text="${b.slotDate}"></td>	
							<td th:text="${b.slotTimeStart}"></td>
							<td th:text="${b.slotTimeEnd}"></td>						
							<td><a th:href="@{'/booking/update_booking/' + ${b.bookingNumber}}" class="btn btn-primary">Update</a></td>
							<td><a th:href="@{'/booking/expire_booking/' + ${b.bookingNumber}}" class="btn btn-danger">Expire</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

</html>