<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Facility Booking</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Julius+Sans+One">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz">
<link rel="stylesheet" th:href="@{/css/form-styles.min.css}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

<style type="text/css">
	.resultsTable {
		border-width: 2px !important;
		border-style: solid !important;
		border-style: outset;
		border-color: rgba(0, 128, 255, 0.9) !important;
		width: 90%;
		padding-top: 1%;
		margin: 0px auto;
		float: none;
	}
</style>
</head>

<body style="background-color: #f3f3f3;">
	<div class="row register-form">
		<div class="col-md-10 offset-sm-1">
			<form class="custom-form" style="background-color: #f3f3f3; width: auto;">
				<h1 style="font-family: 'Julius Sans One', sans-serif; font-size: 33px;">
					Search Facility
				</h1>
				<div class="offset-md-3">
				<div class="form-row form-group">
					<div class="col-sm-2 label-column">
						<label class="col-form-label" for="facilityType"
							style="line-height:35px; padding-right: 10%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px; height: 50px;">
							Facility Type
						</label>
					</div>
					<div class="col-sm-3 input-column">
						<div class="dropdown">
						<select name="facilityType" class="custom-select" id="facilityType" style="height: 50px;">
							<option th:each="f : ${fTypeList}" th:value="${f}" th:text="${f}">Choose Facility Type...</option>
						</select>
						</div>
					</div>
					<div class="col-sm-3 input-column">
						<button 
							class="btn btn-light submit-button button-hover"
							type="submit"
							style="margin: 2px 0px 0px 20px; height: 45px; padding: 0px; min-width: 100px; background-color: #b6d7a8; color: rgb(8, 8, 8); font-family: &amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; , sans-serif; font-size: 1.5em; width: 100%;"
							formaction="/booking/search-facility-by-type"
							formmethod="post">
							Search
						</button>
					</div>
				</div>
				<div class="form-row form-group">
					<div class="col-sm-2 label-column">
						<label class="col-form-label" for="facilityNumber"
							style="line-height:35px; padding-right: 10%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px; height: 50px;">
							Facility Number
						</label>
					</div>
					<div class="col-sm-3 input-column">
						<input class="form-control" type="text" name="facilityNumber" style="height: 50px;">
					</div>
					<div class="col-sm-3 input-column">
						<button 
							class="btn btn-light submit-button button-hover"
							type="submit"
							style="margin: 2px 0px 0px 20px; height: 45px; padding: 0px; min-width: 100px; background-color: #b6d7a8; color: rgb(8, 8, 8); font-family: &amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; , sans-serif; font-size: 1.5em; width: 100%;"
							formaction="/booking/search-facility-by-number"
							formmethod="post">
							Search
						</button>
					</div>
				</div>
				<div class="form-row form-group">
					<div class="col-sm-2 label-column">
						<label class="col-form-label" for="facilityName"
							style="line-height:35px; padding-right: 10%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px; height: 50px;">
							Facility Name
						</label>
					</div>
					<div class="col-sm-3 input-column">
						<input class="form-control" type="text" name="facilityName" style="height: 50px;">
					</div>
					<div class="col-sm-3 input-column">
						<button 
							class="btn btn-light submit-button button-hover"
							type="submit"
							style="margin: 2px 0px 0px 20px; height: 45px; padding: 0px; min-width: 100px; background-color: #b6d7a8; color: rgb(8, 8, 8); font-family: &amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; , sans-serif; font-size: 1.5em; width: 100%;"
							formaction="/booking/search-facility-by-name"
							formmethod="post">
							Search
						</button>
					</div>
				</div>
				</div>
			</form>
			
			<div class="table-responsive col-md-10 offset-md-1">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Facility Number</th>
							<th>Type</th>
							<th>Name</th>
							<th>Capacity</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="f : ${fList}">								
							<th th:text="${f.facilityNumber}"></th>
							<td th:text="${f.facilityType}"></td>
							<td th:text="${f.facilityName}"></td>
							<td th:text="${f.capacity}"></td>					
							<td><a th:href="@{'/booking/book_facility_by_num/' + ${f.facilityNumber}}" class="btn btn-success">Book</a></td>
							<td th:switch="${acctType}"><div th:case="'Admin'"><a  th:href="@{'/facility/manage_facility/' + ${f.facilityNumber}}" class="btn btn-primary">Update</a></div></td>
							<td th:switch="${acctType}"><div th:case="'Admin'"><a  th:href="@{'/booking/expire_facility/' + ${f.facilityNumber}}" class="btn btn-danger">Expire</a></div></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
</body>

</html>