<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ADD FACILITY</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Julius+Sans+One">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz">


<link rel="stylesheet" th:href="@{/css/form-styles.min.css}">

</head>

<body style="background-color: #f3f3f3;">
	<div class="row register-form">
		<div class="col-md-6 offset-md-3">
			<form class="custom-form"
				style="background-color: #f3f3f3; width: auto;">
				<h1
					style="font-family: 'Julius Sans One', sans-serif; font-size: 33px;">ADD FACILITY
				</h1>
				<div class="form-row form-group">
					<div class="col-sm-4 label-column">
						<label class="col-form-label" for="facilitytype"
							style="padding-right: 28%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px;">Facility
							Type </label>
					</div>
					<div class="col-sm-4 input-column">
						<div class="dropdown">

							<select class="custom-select" id="facilitytype">
								<option selected>Choose...</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-row form-group">
					<div class="col-sm-4 label-column">
						<label class="col-form-label" for="facilityname"
							style="padding-right: 25%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px;">Facility
							Name </label>
					</div>
					<div class="col-sm-6 input-column">
						<input class="form-control" type="text" name="facilityname"
							required="required">
					</div>
				</div>

				<div class="form-row form-group">
					<div class="col-sm-4 label-column">
						<label class="col-form-label" for="capacity"
							style="padding-right: 37%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px;">Capacity
						</label>
					</div>
					<div class="col-sm-6 input-column">
						<input class="form-control" type="number" name="capacity"
							required="required" min="0">
					</div>
				</div>

				<div class="form-row form-group">
					<div class="col-sm-4 label-column">
						<label class="col-form-label" for="
							description"
							style="padding-right: 29%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px;">Description
						</label>
					</div>
					<div class="col-sm-6 input-column">
						<textarea class="form-control" rows="3" cols="20"
							name="description">
						
						</textarea>
					</div>
				</div>


				<div class="form-row form-group">
					<div class="col-sm-4 label-column" style="height: 90px;"></div>
					<div class="col-sm-4 input-column" style="height: 90px;">
						<button
							class="btn btn-light active submit-button cancel-btn-hover"
							type="reset"
							style="margin-right: 20px; margin-left: 1px; background-color: #d9d9d9; font-family: &amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; , sans-serif; font-size: 1.5em; color: rgb(18, 14, 14); width: 50%;">Cancel</button>
					</div>
					<div class="col-sm-4 input-column" style="height: 90px;">
						<button class="btn btn-light submit-button button-hover"
							type="submit"
							style="margin-left: 10px; background-color: #b6d7a8; color: rgb(8, 8, 8); font-family: &amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; , sans-serif; font-size: 1.5em; width: 70%;">Submit
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>