<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title layout:title-pattern="$CONTENT_TITLE / $LAYOUT_TITLE"></title>


<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/lumen/bootstrap.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Bitter:400,700">
<link rel="stylesheet" th:href="@{/css/styles.min.css}">
</head>
<body>
	<div>
		<div class="header-dark"
			style="background-image: url(images/cover-image.png); height: 590px; background-color: rgb(49, 55, 58);">
			<nav
				class="navbar navbar-dark navbar-expand-md navigation-clean-search">
				<div class="container">					
					<button class="navbar-toggler" data-toggle="collapse"
						data-target="#navcol-1">
						<span class="sr-only">Toggle navigation</span><span
							class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navcol-1">
<!-- 						<ul class="nav navbar-nav">							 -->
<!-- 							<li class="dropdown"><a -->
<!-- 								class=" nav-link " -->
<!-- 								data-toggle="dropdown" aria-expanded="false" href="#" style="color: #FFFFFF;"><i class="fas fa-3x fa-bars"></i> -->
<!-- 							</a> -->
<!-- 								 <div class="dropdown-menu" role="menu"> -->
<!-- 									<a class="dropdown-item" role="presentation" href="/user/signup">Add Admin</a> -->
<!-- 								</div>								 -->
<!-- 								</li> -->
<!-- 						</ul> -->
<!-- 						<a class="navbar-brand" style="font-size:40px; padding-left: 35%;font-family: 'Julius Sans One', sans-serif;" href="#">LIFESTYLE CLUB</a> -->
						<form class="form-inline mr-auto" target="_self">
							<div class="form-group">
							
<!-- 								<label for="search-field"><i class="fa fa-search"></i></label><input -->
<!-- 									class="form-control search-field" type="search" name="search" -->
<!-- 									id="search-field"> -->
							</div>
						</form>
<!-- 						<ul class="nav navbar-nav">							 -->
<!-- 							<li class="dropdown"><a -->
<!-- 								class=" nav-link " -->
<!-- 								data-toggle="dropdown" aria-expanded="false" href="#" style="color: #FFFFFF;"><i class="fa fa-3x fa-user-circle"></i> -->
<!-- 							</a> -->
<!-- 								 <div class="dropdown-menu" role="menu"> -->
<!-- 									<a class="dropdown-item" role="presentation" href="/user/profile">Profile</a> -->
<!-- 									<a class="dropdown-item" role="presentation" href="/user/changepassword">Change Password</a> -->
<!-- 									<a class="dropdown-item" role="presentation" href="/logout">Logout</a>								 -->
<!-- 								</div>								 -->
<!-- 								</li> -->
<!-- 						</ul>						 -->
					</div>
				</div>
			</nav>
			<div class="container hero">
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<h1 class="text-center"
							style="font-family: 'Julius Sans One', sans-serif; font-size: 59px; padding-top: 93px;">
							Lifestyle Club<br>
						</h1>
					</div>
				</div>
			</div>
		</div>
	</div>


	<h2>
		<th:block layout:fragment="title">Default Title</th:block>
	</h2>
	<th:block layout:fragment="contents">


	</th:block>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>


	<script type="text/javascript" th:src="@{webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{webjars/bootstrap/bootstrap.min.js}"></script>

</body>
</html>