<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SEARCH ISSUE</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Julius+Sans+One">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz">


<link rel="stylesheet" th:href="@{/css/form-styles.min.css}">
<style type="text/css">
.resultsTable {
/* 	border-radius: 25px !important; */
	border-width: 2px !important;
	border-style: solid !important;
	border-style: outset;
	border-color: rgba(0, 128, 255, 0.9) !important;
	width: 90%; /*Tested and working as expected: */
	padding-top: 1%;
	margin: 0px auto;
	float: none;
}
</style>
</head>

<body style="background-color: #f3f3f3;">
	<div class="row register-form">
		<div class="col-md-10 offset-md-1">
			<form class="custom-form"
				style="background-color: #f3f3f3; width: auto;">
				<h1
					style="font-family: 'Julius Sans One', sans-serif; font-size: 33px;">SEARCH
					ISSUE</h1>
				<div class="offset-sm-2">

									
					<div class="form-row form-group">
						<div class="col-sm-2  offset-sm-2 label-column">
							<label class="col-form-label" for="facilitynumber"
								style="padding-right: 25%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px;">Facility
								Number </label>
						</div>
						<div class="col-sm-3 input-column">
							<input class="form-control" type="text" name="facilitynumber">
						</div>
					</div>
					
					
					<div class="form-row form-group">
						<div class="col-sm-2  offset-sm-2 label-column">
							<label class="col-form-label" for="issuenumber"
								style="padding-right: 25%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px;">Issue
								Number </label>
						</div>
						<div class="col-sm-3 input-column">
							<input class="form-control" type="text" name="issuenumber">
						</div>
					</div>


					<div class="offset-sm-2">
						<div class="form-row form-group">
							<div class="col-sm-4 input-column" style="height: 90px;">
								<button
									class="btn btn-light active submit-button cancel-btn-hover"
									type="reset"
									formaction="/issue/issue-cancel"
									style="margin-right: 20px; margin-left: 1px; background-color: #d9d9d9; font-family: &amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; , sans-serif; font-size: 1.5em; color: rgb(18, 14, 14); width: 50%;">Cancel</button>
							</div>
							
							<div class="col-sm-4 input-column" style="height: 90px;">
								<button class="btn btn-light submit-button button-hover"
									type="submit"
									style="margin-left: 10px; background-color: #b6d7a8; color: rgb(8, 8, 8); font-family: &amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; , sans-serif; font-size: 1.5em; width: 70%;">Search
								</button>
							</div>
						</div>
					</div>
				</div>
			</form>

			<div class="table-responsive col-md-10 offset-md-1">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Admin</th>
							<th scope="col">Facility</th>
							<th scope="col">Open Date</th>
							<th scope="col">Description</th>
							<th scope="col">Status</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">I0166</th>
							<td>A02</td>
							<td>F23</td>
							<td>01 Jan 2018</td>
							<td>2018-01-01 0900: During scheduled morning cleaning, Janitor Fichard Fergurson reported that one of the ceiling lights...</td>
							<td>Closed</td>
							<td><button type="button" class="btn btn-success">Update</button></td>
							<td><button type="button" class="btn btn-success">Remove</button></td>
						</tr>
						<tr>
							<th scope="row">I0182</th>
							<td>A02</td>
							<td>F23</td>
							<td>02 Feb 2018</td>
							<td>2018-01-01 0900: During scheduled morning cleaning, Janitor Fichard Fergurson reported that one of the ceiling lights...</td>
							<td>Cancelled</td>
							<td><button type="button" class="btn btn-success">Update</button></td>
							<td><button type="button" class="btn btn-success">Remove</button></td>
						</tr>
						<tr>
							<th scope="row">I0184</th>
							<td>A04</td>
							<td>F23</td>
							<td>03 Mar 2018</td>
							<td>2018-01-01 0900: During scheduled morning cleaning, Janitor Fichard Fergurson reported that one of the ceiling lights...</td>
							<td>Closed</td>
							<td><button type="button" class="btn btn-success">Update</button></td>
							<td><button type="button" class="btn btn-success">Remove</button></td>
						</tr>
						<tr>
							<th scope="row">I0196</th>
							<td>A02</td>
							<td>F23</td>
							<td>04 Apr 2018</td>
							<td>2018-01-01 0900: During scheduled morning cleaning, Janitor Fichard Fergurson reported that one of the ceiling lights...</td>
							<td>Open</td>
							<td><button type="button" class="btn btn-success">Update</button></td>
							<td><button type="button" class="btn btn-success">Remove</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>