<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SEARCH ISSUE</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Julius+Sans+One">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz">
<script		
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>


<link rel="stylesheet" th:href="@{/css/form-styles.min.css}">
<style type="text/css">
.resultsTable {
/* 	border-radius: 25px !important; */
	border-width: 2px !important;
	border-style: solid !important;
	border-style: outset;
	border-color: rgba(0, 128, 255, 0.9) !important;
	width: 90%; /*Tested and working as expected: */
	padding-top: 1%;
	margin: 0px auto;
	float: none;
}
</style>
</head>

<body style="background-color: #f3f3f3;">
	<div class="row register-form">
		<div class="col-md-10 offset-md-1">
			<form class="custom-form"
				style="background-color: #f3f3f3; width: auto;">
				<h1
					style="font-family: 'Julius Sans One', sans-serif; font-size: 33px;">SEARCH
					ISSUE</h1>
				<div class="offset-sm-2">

									
					<div class="form-row form-group">
						<div class="col-sm-2  offset-sm-2 label-column">
							<label class="col-form-label" for="facilitynumber"
								style="line-height:35px; padding-right: 10%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px; height: 50px;">Facility
								Number </label>
						</div>
						<div class="col-sm-3 input-column" style="height: 50px;">
							<input class="form-control" type="text" name="facilitynumber" style="height: 50px;">
						</div>
						<div class="col-sm-4 input-column" style="height: 60px;">
								<button
									class="btn btn-light submit-button button-hover"
									type="submit"
									formaction="/issue/search-by-facilitynumber"
									style="margin: 2px 0px 0px 20px; height: 45px; padding: 0px; min-width: 100px; background-color: #b6d7a8; color: rgb(8, 8, 8); font-family: &amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; , sans-serif; font-size: 1.5em; width: 30%;">
									Search</button>
						</div>
					</div>
					
					
					<div class="form-row form-group">
						<div class="col-sm-2  offset-sm-2 label-column">
							<label class="col-form-label" for="issuenumber"
								style="line-height:35px; padding-right: 10%; font-family: 'Yanone Kaffeesatz', sans-serif; font-size: 20px; height: 50px;">Issue
								Number </label>
						</div>
						<div class="col-sm-3 input-column">
							<input class="form-control" type="text" name="issuenumber" style="height: 50px;">
						</div>
						<div class="col-sm-4 input-column" style="height: 60px;">
								<button
									class="btn btn-light submit-button button-hover"
									type="submit"
									formaction="/issue/search-by-issuenumber"
									style="margin: 2px 0px 0px 20px; height: 45px; padding: 0px; min-width: 100px; background-color: #b6d7a8; color: rgb(8, 8, 8); font-family: &amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; , sans-serif; font-size: 1.5em; width: 30%;">
									Search
								</button>
						</div>
					</div>


					<div class="col-md-10 offset-md-1">
					<div></div>
					<div></div>
						<div class="form-row form-group">
							<div class="col-sm-3 offset-md-4 input-column" style="height: 90px;">
								<button
									class="btn btn-light active submit-button cancel-btn-hover"
									type="submit"
									formaction="/issue"
									style="margin-right: 100px; margin-left: 1px; background-color: #d9d9d9; font-family: &amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; Yanone Kaffeesatz&amp;amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; amp; #39; , sans-serif; font-size: 1.5em; color: rgb(18, 14, 14); width: 50%;">Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</form>
			
			<div class="table-responsive col-md-10 offset-md-1">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Issue Number</th>
							<th>Admin Number</th>
							<th>Facility Number</th>
							<th>Report Date Time</th>
					    	<th>Issue Status</th>
						</tr>
					</thead>
				    <tbody th:each="issue : ${issueListing}" th:remove="tag">
					      <tr>
					         <td th:text="${issue.issueNumber}">...</td>
					         <td th:text="${issue.adminNumber}">...</td>
					         <td th:text="${issue.facilityNumber}">...</td>
					         <td th:text="${issue.reportDateTime}">...</td>
					         <td th:text="${issue.issueStatus}">...</td>
					         <td><a th:href="@{'/issue/update-issue/' + ${issue.issueNumber}}" class="btn btn-primary">Update</a></td>
							 <td><a th:href="@{'/issue/remove-issue/' + ${issue.issueNumber}}" class="btn btn-danger">Remove</a></td>
					      </tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
</body>

</html>